@import "~bulma/sass/utilities/initial-variables";
$white: #fff;
$primary: #C4140F;
$secondary: #A8110E;
$lightgray: #A8A2A6;
$gray: #dbdbdb;
$darkgray: #0D0716;
$onyx: #313638;
$lightblue: #3F88C5;
$hazel: #474863;
$lightred: #D95952;

$info: $secondary;
$success: #F49D37;
$warning: $lightred;
$danger: $lightblue;

$font-size: 15;

//// define global padding ////
$padding: (
  desktop: (
    large: 80px,
    medium: 50px,
    small: 30px
  ),
  tablet: (
    large: 60px,
    medium: 40px,
    small: 30px
  ),
  mobile: (
    large: 40px,
    medium: 20px,
    small: 20px
  )
);

@function em($pixels, $context: $font-size) {
  @return #{$pixels / $context}em;
}

body {
  // headers
  .footer {
    background-color: $gray;
  }

  p {
    //max-width: 800px;
    //margin-bottom: 14px;
    padding-bottom: 14px;
  }

}



.color-white {
  color: $white;
}

.font-large {
  font-size: 18px;
}

.text-center {
  text-align: center;
}

.title {
  &.color-white {
    color: $white;
  }

  &.text-center {
    text-align: center;
  }
}

.background-red {
  background-color: $lightred;
}


.navbar-item {
  img {
    &.nav-image-logo {
      max-height: 7rem;
    }
  }
}

.hero {
  margin-top: 77px;
}

.columns, .container {
  padding: 0px 10px;
  max-width: 1200px;
  margin: auto !important;
}

.bg-home {
  background:linear-gradient(0deg,rgba(0,0,0,.3),rgba(0,0,0,.6)), url('../img/bg-home.jpg');
  min-height: 40vh;
  background-size: cover;
  background-position: 50% 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  margin-top: 10px;
}

.social-media-icons {
  margin: 0 5px;
}


@media screen and (max-width: 800px) {

  .img-bottom-small {
    display: flex;
    flex-direction: column-reverse;
  }
}

@import "~bulma";

